#Importando as Bibliotecas:

In [144]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs

import matplotlib.pyplot as plt
import seaborn as sns

#1ºParte: Coleta de dados e preparação do dataframe:

Interessante notar que cada vez que os comandos abaixo são postos para funcionar, os preços e volumes são constantemente atualizados. Isso gera uma dificuldade, mas também gera uma análise mais precisa que deve considerar a mudança dos preços.

In [145]:
request = requests.get("https://www.coingecko.com/en/nft").text

In [146]:
df = pd.read_html(request)

In [147]:
df1 = df[0]

In [148]:
df1

     #                        NFT  ... 24h Owners Total Assets
0    1                     CloneX  ...       0.0%      18830.0
1    2                  Cool Pets  ...       0.4%      15847.0
2    3                      Azuki  ...      -0.1%      10000.0
3    4      Mutant Ape Yacht Club  ...       0.1%      17950.0
4    5       Bored Ape Yacht Club  ...       0.1%      10000.0
5    6                       LAND  ...       0.1%     139817.0
6    7                    Doodles  ...       0.1%      10000.0
7    8             World of Women  ...       0.1%      10000.0
8    9                 VeeFriends  ...       0.1%      10255.0
9   10  Decentral Games ICE Poker  ...      -0.5%      14512.0
10  11              Capsule House  ...      -0.2%      10000.0
11  12              Boss Beauties  ...       0.2%      10000.0
12  13                 FLUF World  ...       0.0%      10000.0
13  14                  Cool Cats  ...       0.1%       9933.0
14  15                 CyberKongz  ...      -0.0%       5000.0
15  16            Crypto Unicorns  ...      -3.2%      10000.0
16  17                 Metroverse  ...       0.3%      10000.0
17  18             FVCK_CRYSTAL//  ...       0.2%       4169.0
18  19            Adam Bomb Squad  ...      -0.2%      24999.0
19  20                   Smilesss  ...       0.2%       8732.0
20  21               Crypto Coven  ...       0.4%       9757.0
21  22              JRNY NFT Club  ...      -0.2%      10000.0
22  23            the littles nft  ...      -0.2%      10000.0
23  24               inbetweeners  ...      -0.1%      10777.0
24  25                  MekaVerse  ...      -0.3%       8888.0

[25 rows x 10 columns]

- Como eu quero por volta dos últimos 500 NFTs e cada página da coingecko oferece 25 nfts, preciso acessar até a página 20.

In [149]:
dfs = []
for i in range (2, 6):
  request2 = requests.get(f"https://www.coingecko.com/en/nft?page={i}").text
  df = pd.read_html(request2)
  dfs.append(df)

In [150]:
dfs

[[     #                                   NFT  ... 24h Owners Total Assets
  0   26                           CHIBI DINOS  ...       0.6%      10000.0
  1   27                           Phanta Bear  ...       0.4%      10000.0
  2   28                                  Loot  ...       0.0%       7779.0
  3   29                             LilHeroes  ...      -0.4%       7776.0
  4   30          Forgotten Runes Wizards Cult  ...       0.1%       9409.0
  5   31                            Lazy Lions  ...      -0.1%      10080.0
  6   32                           PUNKS Comic  ...       0.2%      23204.0
  7   33                              MetaHero  ...       1.7%       6453.0
  8   34                        Creature World  ...       0.1%      10000.0
  9   35               Revenants by Alethea AI  ...       0.0%        100.0
  10  36  Jenkins the Valet: The Writer's Room  ...       0.1%       6942.0
  11  37                        The Doge Pound  ...      -0.0%      10000.0
  12  38                             CrypToadz  ...      -0.2%       7025.0
  13  39                             Hashmasks  ...       0.0%      16370.0
  14  40                              BYOPills  ...       0.0%      10000.0
  15  41                              IreneDAO  ...       0.0%       1106.0
  16  42                         PudgyPenguins  ...       0.0%       8888.0
  17  43                            Lost Poets  ...       0.1%      27669.0
  18  44                         OnChainMonkey  ...       0.1%       9500.0
  19  45                                 merge  ...       0.4%      27134.0
  20  46              Sneaky Vampire Syndicate  ...       0.1%       8888.0
  21  47                          loomlock NFT  ...      -0.2%       9546.0
  22  48                 Neo Tokyo: Identities  ...       0.0%       2021.0
  23  49                              BYO Land  ...       0.1%      10056.0
  24  50                          The Currency  ...       0.1%       2195.0

  [25 rows x 10 columns]],
 [     #                               NFT  ... 24h Owners Total Assets
  0   51                    X Rabbits Club  ...      -0.0%       7502.0
  1   52                    GenesisApostle  ...       0.1%       7212.0
  2   53               Global Citizen Club  ...      -0.7%       8888.0
  3   54                   Treeverse Plots  ...      -0.0%      10420.0
  4   55                     Chain Runners  ...       0.2%      10000.0
  5   56             MoonCats - Acclimated  ...       0.0%      18898.0
  6   57                             8SIAN  ...       0.4%       8785.0
  7   58                         0N1 Force  ...       0.0%       7777.0
  8   59                         Anonymice  ...      -1.1%      10000.0
  9   60                    Divine Anarchy  ...      -0.0%      10011.0
  10  61                          Animetas  ...      -0.2%      10101.0
  11  62                      Samurai Saga  ...      -1.0%       9999.0
  12  63              iNFT Personality Pod  ...      -0.1%       9811.0
  13  64                           Blitmap  ...      -0.2%       1700.0
  14  65                          Timeless  ...      -0.6%       9421.0
  15  66                       EtherLambos  ...       0.3%       1600.0
  16  67                         Fomoverse  ...      -0.2%       1234.0
  17  68                        Lil Pudgys  ...      -0.3%      18735.0
  18  69                     Ethereals WTF  ...      -0.3%      12345.0
  19  70  CryptoHoots Steampunk Parliament  ...       0.0%       2500.0
  20  71                  PartyDegenerates  ...      -0.1%      10000.0
  21  72                        The Sevens  ...      -0.3%       7000.0
  22  73      Citizens of Bulliever Island  ...      -0.0%      10000.0
  23  74                       Stoner Cats  ...      -0.1%      10419.0
  24  75                    SpacePunksClub  ...      -0.1%       9995.0

  [25 rows x 10 columns]],
 [      #                          NFT  ... 24h Owners Total Assets
  0    76                  Galaxy Eggs  ...      -0.0%       9999.0
  1    77  Tom Sachs Rocket Components  ...       0.0%       1866.0
  2    78                  SquidDAONFT  ...       0.0%        131.0
  3    79               Corruption(s*)  ...       0.1%       4196.0
  4    80    Koala Intelligence Agency  ...       0.0%      10000.0
  5    81  Curious Addys' Trading Club  ...      -0.0%       5000.0
  6    82                 Lee Mullican  ...       0.0%         16.0
  7    83                Sipherian Inu  ...       0.0%       9999.0
  8    84     Purrnelopes Country Club  ...       0.1%      10000.0
  9    85                   dotdotdots  ...       0.1%       4870.0
  10   86          Star Sailor Sibings  ...       0.0%      10100.0
  11   87           AlphaBetty Doodles  ...       1.2%      10000.0
  12   88          The Wicked Craniums  ...       0.1%      10762.0
  13   89                      HeadDAO  ...       0.4%      10000.0
  14   90                   Chibi Apes  ...       0.0%       3000.0
  15   91                      Feudalz  ...       0.0%       4444.0
  16   92          The Vogu Collective  ...       0.0%       7777.0
  17   93       Wizards & Dragons Game  ...       0.1%      46169.0
  18   94                  Satoshibles  ...      -0.3%       5000.0
  19   95                 Genesis Mana  ...      -0.3%       7648.0
  20   96                   StarryNift  ...       0.0%        142.0
  21   97                     Avastars  ...      -0.1%      25453.0
  22   98         Ready Player Cat NFT  ...       0.0%       4950.0
  23   99                     Metakrew  ...      -0.0%       7335.0
  24  100                Apes of Space  ...       0.1%      10000.0

  [25 rows x 10 columns]],
 [      #                     NFT   Floor Price  ...  Owners  24h Owners Total Assets
  0   101          APE DAO REMIX!      0.05 ETH  ...  2615.0       -0.2%       5550.0
  1   102        Generative Masks      0.06 ETH  ...  3467.0        0.0%       9999.0
  2   103            JunkYardDogs     0.042 ETH  ...  3403.0        0.1%       7976.0
  3   104       Angry Apes United     0.035 ETH  ...  4944.0       -0.0%       8888.0
  4   105     Baby Battle Bots G1      0.04 ETH  ...  1378.0       -0.1%       3498.0
  5   106          HeavenComputer      0.09 ETH  ...  2907.0        0.0%       7777.0
  6   107        MOONDOGS ODYSSEY     0.019 ETH  ...  1922.0        0.0%       5000.0
  7   108                   Bloot      0.04 ETH  ...  3970.0       -0.2%       8008.0
  8   109           CryptoZombiez     0.025 ETH  ...   813.0       -0.6%       5555.0
  9   110      CryptoZoo Base Egg     0.144 ETH  ...  1477.0        0.0%       4160.0
  10  111         Bored Ape Comic     0.031 ETH  ...  2705.0        0.0%       9999.0
  11  112                  Skullx     0.035 ETH  ...  2573.0       -0.1%      10000.0
  12  113             MondrianNFT     0.012 ETH  ...  1837.0        0.0%       4096.0
  13  114             Dope Shibas      0.02 ETH  ...  3980.0        0.0%       9899.0
  14  115           Bored Bananas     0.057 ETH  ...  1837.0        0.0%       4027.0
  15  116       Non-Fungible Soup    0.0895 ETH  ...  1100.0        0.1%       2048.0
  16  117                Spookies      0.01 ETH  ...  2675.0        0.1%       8888.0
  17  118                Template      0.01 ETH  ...  2067.0        0.0%       8992.0
  18  119  Extension Loot (xLoot)  0.000001 ETH  ...  2213.0        0.0%       7779.0
  19  120      United Punks Union     0.002 ETH  ...  1192.0        0.0%       3624.0
  20  121               Ethermore     0.026 ETH  ...  2861.0        0.0%      15000.0
  21  122               Gauntlets     0.079 ETH  ...  3847.0        0.0%      10000.0
  22  123           Space Poggers    0.0195 ETH  ...  3444.0        0.0%      12442.0
  23  124         Spirit Orb Pets      0.05 ETH  ...   370.0        0.0%        777.0
  24  125      Dark Super Bunnies   0.01769 ETH  ...  1737.0        0.0%       4409.0

  [25 rows x 10 columns]]]

In [151]:
len(dfs)

4

In [152]:
datasets = []
for i in range(len(dfs)):
  datasets.append(dfs[i][0])

In [153]:
len(datasets)

4

In [154]:
df_final = pd.concat([df1, datasets[0], datasets[1], datasets[2], datasets[3]], ignore_index=True)

In [155]:
df_final

       #                    NFT  Floor Price  ...   Owners  24h Owners Total Assets
0      1                 CloneX    13.99 ETH  ...   8201.0        0.0%      18830.0
1      2              Cool Pets     2.73 ETH  ...   9639.0        0.4%      15847.0
2      3                  Azuki      9.9 ETH  ...   5414.0       -0.1%      10000.0
3      4  Mutant Ape Yacht Club     20.0 ETH  ...  11696.0        0.1%      17950.0
4      5   Bored Ape Yacht Club     92.0 ETH  ...   6316.0        0.1%      10000.0
..   ...                    ...          ...  ...      ...         ...          ...
120  121              Ethermore    0.026 ETH  ...   2861.0        0.0%      15000.0
121  122              Gauntlets    0.079 ETH  ...   3847.0        0.0%      10000.0
122  123          Space Poggers   0.0195 ETH  ...   3444.0        0.0%      12442.0
123  124        Spirit Orb Pets     0.05 ETH  ...    370.0        0.0%        777.0
124  125     Dark Super Bunnies  0.01769 ETH  ...   1737.0        0.0%       4409.0

[125 rows x 10 columns]

###Floor Price:

In [156]:
prices = []
for price in df_final['Floor Price']:
  price = price.split()
  if price[0] == 'ETH':
    price[0] = 0
    price.append('ETH')
  
  prices.append(price[0])

In [157]:
df_final['Floor Price'] = prices

In [158]:
df_final['Floor Price'] = df_final['Floor Price'].astype(float)

###Market Cap:

In [159]:
df_final['Market Cap']

0      263,431.7 ETH
1      43,262.31 ETH
2       99,000.0 ETH
3      359,000.0 ETH
4      920,000.0 ETH
           ...
120        390.0 ETH
121        790.0 ETH
122       242.62 ETH
123        38.85 ETH
124         78.0 ETH
Name: Market Cap, Length: 125, dtype: object

In [160]:
market_caps = []
for market_cap in df_final['Market Cap']:
  market_cap = market_cap.split()
  market_caps.append(market_cap[0])

In [161]:
for i in market_caps:
  if type(i) != type('str'):
    print('Não tem dados com tipo string')

In [162]:
market_caps_final = []
for mks in market_caps:
  mks = mks.split(',')
  if len(mks) > 1:
    mks = mks[0] + '' + mks[1]
    market_caps_final.append(mks)
  else:
    market_caps_final.append(mks[0])

In [163]:
df_final['Market Cap'] = market_caps_final

In [164]:
market_caps_final = df_final['Market Cap'].astype(float)

###24h Volume:

In [165]:
df_final['24h Volume']

0      1,483.47 ETH
1      1,371.08 ETH
2        890.01 ETH
3        855.02 ETH
4        852.03 ETH
           ...
120         0.1 ETH
121        0.08 ETH
122        0.07 ETH
123        0.07 ETH
124        0.05 ETH
Name: 24h Volume, Length: 125, dtype: object

In [166]:
daily_volumes  = []
for daily_volume in df_final['24h Volume']:
  if ',' in daily_volume:
    daily_volume = daily_volume.split(',')
    daily_volume = daily_volume[0] + '' + daily_volume[1]
    daily_volume = daily_volume.split()
    daily_volumes.append(daily_volume[0])
  else:  
    daily_volume = daily_volume.split()
    daily_volume = daily_volume[0]
    daily_volumes.append(daily_volume)

In [167]:
daily_volumes

['1483.47',
 '1371.08',
 '890.01',
 '855.02',
 '852.03',
 '356.76',
 '244.87',
 '207.02',
 '163.08',
 '135.54',
 '135.09',
 '124.04',
 '112.15',
 '111.7',
 '109.38',
 '108.93',
 '88.66',
 '76.16',
 '64.34',
 '57.22',
 '54.2',
 '46.2',
 '45.83',
 '45.72',
 '43.14',
 '42.81',
 '42.68',
 '35.37',
 '34.38',
 '34.19',
 '32.9',
 '31.7',
 '30.15',
 '30.09',
 '30.0',
 '28.77',
 '27.82',
 '27.63',
 '25.63',
 '22.86',
 '19.62',
 '18.67',
 '18.37',
 '18.15',
 '17.64',
 '16.85',
 '16.85',
 '16.5',
 '16.46',
 '15.9',
 '14.66',
 '13.63',
 '13.17',
 '13.05',
 '12.84',
 '12.73',
 '12.44',
 '11.6',
 '11.13',
 '11.09',
 '5.23',
 '5.13',
 '4.91',
 '4.9',
 '4.76',
 '3.73',
 '3.6',
 '3.34',
 '3.31',
 '3.28',
 '3.13',
 '2.9',
 '2.86',
 '2.83',
 '2.7',
 '2.53',
 '2.5',
 '2.5',
 '2.49',
 '2.28',
 '2.06',
 '2.0',
 '2.0',
 '1.7',
 '1.68',
 '1.53',
 '1.38',
 '1.32',
 '1.26',
 '1.09',
 '1.08',
 '0.98',
 '0.97',
 '0.92',
 '0.81',
 '0.51',
 '0.48',
 '0.48',
 '0.43',
 '0.39',
 '0.34',
 '0.33',
 '0.32',
 '0.31',
 '0.29',
 '0.27',
 '0.27',
 '0.26',
 '0.25',
 '0.25',
 '0.24',
 '0.24',
 '0.23',
 '0.21',
 '0.16',
 '0.16',
 '0.14',
 '0.12',
 '0.11',
 '0.1',
 '0.1',
 '0.08',
 '0.07',
 '0.07',
 '0.05']

In [168]:
df_final['24h Volume'] = daily_volumes

In [169]:
df_final['24h Volume'].astype(float)

0      1483.47
1      1371.08
2       890.01
3       855.02
4       852.03
        ...
120       0.10
121       0.08
122       0.07
123       0.07
124       0.05
Name: 24h Volume, Length: 125, dtype: float64

###24h Owners:

In [170]:
df_final['24h Owners']

0       0.0%
1       0.4%
2      -0.1%
3       0.1%
4       0.1%
       ...
120     0.0%
121     0.0%
122     0.0%
123     0.0%
124     0.0%
Name: 24h Owners, Length: 125, dtype: object

In [171]:
daily_owners = []
for d_owner in df_final['24h Owners']:
  d_owner = d_owner.split('%')
  daily_owners.append(d_owner[0])

In [172]:
df_final['24h Owners'] = daily_owners

In [173]:
df_final['24h Owners'].astype(float)

0      0.0
1      0.4
2     -0.1
3      0.1
4      0.1
      ...
120    0.0
121    0.0
122    0.0
123    0.0
124    0.0
Name: 24h Owners, Length: 125, dtype: float64

#2ºParte: Limpeza dos dados

In [174]:
df_final.isnull().sum()

#                 0
NFT               0
Floor Price       0
24h               0
7d              125
Market Cap        0
24h Volume        0
Owners            0
24h Owners        0
Total Assets      0
dtype: int64

In [175]:
df_final.drop(columns=["7d", "#"], inplace=True)

In [176]:
df_final.duplicated().sum()

0

In [177]:
df = df_final

#Salvando em CSV:

In [178]:
df.to_csv(r'/content/df_final.csv', index=False, header=True)

In [179]:
df_test = pd.read_csv("df_final.csv")

In [181]:
df_test.head()

                     NFT  Floor Price  ... 24h Owners  Total Assets
0                 CloneX        13.99  ...        0.0       18830.0
1              Cool Pets         2.73  ...        0.4       15847.0
2                  Azuki         9.90  ...       -0.1       10000.0
3  Mutant Ape Yacht Club        20.00  ...        0.1       17950.0
4   Bored Ape Yacht Club        92.00  ...        0.1       10000.0

[5 rows x 8 columns]